{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

  </head>


  <nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <a class="navbar-brand text-light" href="{% url 'user:index' %}">TIE TEAM</a> -->
    <a class="navbar-brand" href="/">
      <div class="logo-image">
            <img src="{% static 'images/tie_logo.png'%}" class="img-fluid">
      </div>
</a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link text-dark" href="{% url 'user:index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="{% url 'user:teamstats'%}">Team Stats</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link text-dark" href="{% url 'user:myprofile'%}">My Profile</a>
        </li>
        {% endif%}
      </ul>   
      <p class="my-2 my-sm-0">
        {% if user.is_authenticated %}
          Hello, {{ user.username }}.
          <a href="{% url 'user:logout' %}">log out</a>
        {% else %}
          <a href="{% url 'user:login'%}" class="btn btn-outline-success my-2 my-sm-0">log in</a>
        {% endif %}
      </p>
    </div>
  </nav>




{% block content %} {% endblock content %} 


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- <script src="{% static 'js/bootstrap.bundle.js'%}"></script> -->
  <script src="{% static 'js/myscript.js'%}"></script>


</html>